@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.App {
  text-align: center;

  & .backgraund{

    & .img {
      position: fixed;
      top: 0;
      left: 15%;
      width: 70%;
      opacity: 0.2;
      z-index: -1;
    }
  }
}
